<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>다른 페이지에서 쿠키 확인할 수 있는지 확인</h1>
    <p>
      상위 경로에서 만든 쿠키는 하위 경로에서 보이고, 하위쿠키는
      상위페이지/경로에서 안 보임
    </p>
  </body>
</html>
