<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
  </head>
  <body>
    <h1>session 확인</h1>
    <a href="/set">session set</a>
    <a href="/get">session 확인</a>
    <a href="/destroy">session 삭제</a>
  </body>
</html>
