<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC 실습1</title>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      label {
        display: flex;
      }
      label span {
        width: 80px;
      }
      .success {
        color: blue;
        font-weight: 700;
      }
      .error {
        color: red;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <form name="login">
      <label
        ><span>아이디:</span> <input type="text" name="userId" required
      /></label>
      <br />
      <label
        ><span>비밀번호: </span
        ><input type="password" name="userPw" required /> <br />
      </label>
      <button type="button" onclick="ccclogin()">login1</button>
      <button type="button" onclick="clickLogin2()">login2</button>
    </form>
    <div class="result"></div>

    <script>
      function ccclogin() {
        const form = document.forms["login"];
        const result = document.querySelector(".result");
        const data = {
          userId: form.userId.value,
          userPw: form.userPw.value,
        };
        // console.log(data);
        if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
          result.textContent = "아이디와 비밀번호는 필수값입니다";
          return;
        }
        axios({
          url: "/register",
          method: "post",
          data: data,
        })
          .then((res) => {
            console.log(res.data.isSuccess);
            if (res.data.isSuccess) {
              result.textContent = `${res.data.userId}님 로그인 성공~!`;
              result.classList.add("success");
              result.classList.remove("error");
            } else {
              result.textContent = "아이디 또는 패스워드 오류입니다";
              result.classList.add("success");
              result.classList.remove("error");
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      async function clickLogin2() {
        const result = document.querySelector(".result");
        const form = document.forms["login"];
        const data = {
          userId: form.userId.value,
          userPw: form.userPw.value,
        };
        if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
          result.textContent = "아이디와 비밀번호는 필수값입니다";
          return;
        }
        try {
          const response = await axios({
            method: "post",
            url: " /register2/",
            data,
          });
          console.log(response.data);
          if (response.data.isSuccess) {
            result.textContent = `${response.data.userName}님 로그인 성공~!`;
            result.classList.add("success");
            result.classList.remove("error");
          } else {
            result.textContent = "아이디 또는 패스워드 오류입니다";
            result.classList.add("success");
            result.classList.remove("error");
          }
        } catch (err) {
          console.log(error);
        }
      }
    </script>
  </body>
</html>
