<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보: route분리</title>
  </head>
  <body>
    <h1>여기는 유저 페이지</h1>
    <a href="/">홈으로 이동</a>
    <br /><br />
    <input type="text" readonly value="<%=realId%>" /> <br />
    <input type="text" readonly value="<%=realPw%>" /> <br />
    <input type="text" readonly value="<%=name%>" /> <br />
    <input type="number" readonly value="<%=age%>" /> <br />
  </body>
</html>
