<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 ERROR</title>
  </head>
  <body>
    <h2>β μ°Ύμ„ μ μ—†λ” νμ΄μ§€ μ…λ‹λ‹¤.β </h2>
    <h2>urlμ΄ λ§λ”μ§€ λ‹¤μ‹ ν• λ² ν™•μΈν•΄λ³΄μ„Έμ”π</h2>
    <a href="/user">HomeμΌλ΅</a>
  </body>
</html>
