* {
  margin: 0;
}
.Nav {
  background-color: bisque;
  display: flex;
  align-items: center;
  height: 150px;
}

.header {
  background-color: bisque;
  height: 100px;
}

p {
  padding: 20px 0;
  font-weight: 700;
}
