@import "_util";
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.PostList header {
  background-color: $color-primary;
  color: $color-white;
  text-shadow: 2px 2px 4px $shadow-black;
  height: $height-header;
  line-height: $height-header;
  font-size: 28px;
  font-weight: 700;
}

.PostItem {
  text-align: left;
  width: 50%;
  background-color: $color-white;
  box-shadow: 4px 4px 10px $shadow-black;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 40px auto;
  & .id {
    font-weight: 500;
    margin-right: 8px;
    color: $color-primary;
  }
  &.title {
    color: rgb(123, 123, 123);
  }
  & .body {
    font-size: 20px;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.4s;
  }
  &:hover .id,
  &:hover .title {
    font-weight: 700;
  }
  @media (max-width: 768px) {
    & {
      width: 90vw;
    }
  }
}
