<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practice1</title>
    <!-- socket io CDN -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h2>practice1</h2>
    <button onclick="hello()">hello</button>
    <button onclick="study()">study</button>
    <button onclick="bye()">bye</button>
    <h3></h3>
    <script>
      const socket = io();
      const h3 = document.querySelector("h3");

      //   const div = document.querySelector("div");
      //   const hello = document.querySelector("#hello");
      //   const study = document.querySelector("#study");
      //   const bye = document.querySelector("#bye");

      //   hello.addEventListener("click", () => {
      //     socket.emit("prac", "hello", (data) => {
      //       div1.textContent = `${data}: hello`;
      //       div.append(div1);
      //     });
      //   });
      //   study.addEventListener("click", () => {
      //     socket.emit("prac", "study", (data) => {
      //       div1.textContent = `${data}: study`;
      //       div.append(div1);
      //     });
      //   });
      //   bye.addEventListener("click", () => {
      //     socket.emit("prac", "bye", (data) => {
      //       div1.textContent = `${data}: bye`;
      //       div.append(div1);
      //     });
      //   });

      function hello() {
        socket.emit("hello", "hello", (msg) => {
          h3.textContent = `hello: ${msg}`;
        });
      }
      function study() {
        socket.emit("study", "study");
        socket.on("study2", (msg) => {
          h3.textContent = `study: ${msg}`;
        });
      }
      function bye() {
        socket.emit("bye", "bye");
        socket.on("bye2", (msg) => {
          h3.textContent = `bye: ${msg}`;
        });
      }
    </script>
  </body>
</html>
