<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>client-p</title>
    <!-- socket io CDN -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div>
      <h3>hello world</h3>
      <button id="hello">hello</button>
      <button id="study">study</button>
      <button id="bye">bye</button>
      <div></div>
    </div>
    <script>
      const socket = io();
      const div = document.querySelector("div");
      const hello = document.querySelector("#hello");
      const study = document.querySelector("#study");
      const bye = document.querySelector("#bye");
      const div1 = document.createElement("div");
      hello.addEventListener("click", () => {
        socket.emit("prac", "hello", (data) => {
          div1.textContent = `${data}: hello`;
          div.append(div1);
        });
      });
      study.addEventListener("click", () => {
        socket.emit("prac", "study", (data) => {
          div1.textContent = `${data}: study`;
          div.append(div1);
        });
      });
      bye.addEventListener("click", () => {
        socket.emit("prac", "bye", (data) => {
          div1.textContent = `${data}: bye`;
          div.append(div1);
        });
      });
    </script>
  </body>
</html>
