@import "util";
h4 {
  color: aquamarine;
}

.div1 {
  width: 200px;
  height: 200px;
  background-color: $color-red;
  > .div2 {
    width: 50%;
    height: 50%;
    background-color: $color-orange;
    .div3 {
      width: 50%;
      height: 50%;
      background-color: $color-yellow;
    }
  }

  .btn {
    //btn class의 공통속성
    display: inline-block;
    transition: 0.4s;
    width: 33%;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    //.btn.orangered
    &.orangered {
      background-color: orangered;
    }
    //.btn--opacity
    &--opacity {
      background-color: $color-blue;
      opacity: 0.5;
      &:hover {
        opacity: 0.8;
      }
    }
    //.btn--blue
    &--blue {
      background-color: $color-blue;
    }
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.container {
  width: 100%;
  background-color: antiquewhite;
  .box1 {
    height: 50px;
    background-color: $color-orange;
    // &:nth-child(1) {
    //   width: 100px;
    // }
    // &:nth-child(2) {
    //   width: 120px;
    // }
    // &:nth-child(3) {
    //   width: 140px;
    // }
    @for $i from 1 through 3 {
      //#{}: 보간
      //문자 사이에 변수를 넣거나, 연산이 아닌 곳에 넣을 때 사용
      &:nth-child(#{$i}) {
        // width: (80px + 20px * $i);
        // border: 1px solid $color-red;
        @include box;
      }
    }
  }
  .circle {
    // @include circle(red, 0.5);
    // &:nth-child(4) {
    //   @include circle(blue, 1);
    // }
    // &:nth-child(5) {
    //   @include circle(dodgerblue, 0.8);
    // }
    // &:nth-child(6) {
    //   @include circle(#9c9cba, 0.6);
    // }

    $circleBgColors: (blue, dodgerblue, #9c9cba);
    @each $el in $circleBgColors {
      //index() : SASS에서 기본적으로 제공하는 함수
      //  - index(list, value)
      //  - 특정 list에서 value의 index를 반환하는 함수
      //  - index은 1번부터
      $index: index($circleBgColors, $el);
      &:nth-child(#{$index + 3}) {
        @include circle($el, 1.2 - 0.2 * $index);
        // @include circle();  //errors
      }
    }
  }
  .box2 {
    @include box2();
    &:nth-of-type(4) {
      @include box2(yellow, 20px, navy);
    }
    &:nth-of-type(5) {
      @include box2(orangered, 20px, black);
    }
  }
}

.img-test {
  width: 100px;
  height: 100px;
  border: 1px solid $color-blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &.src-img {
    background-image: url("../assets/main.png");
  }
  &.public-img {
    background-image: url("http://localhost:3000/image/main.png");
  }
}

.practice-img {
  width: 200px;
  height: 300px;
  border-radius: 10%;
  box-shadow: $boxShadow;
  background-position: center;
  background-size: cover;
  background-color: rgb(37, 125, 227);
  margin-right: 10px;
  @for $i from 1 through 4 {
    &.prac#{$i} {
      display: inline-block;
      background-image: url("../assets/practice#{$i}.png");
    }
  }
}
