.container{
    max-width: 1000px;
    height: 700px;
    margin: 0 auto;
    background-color: #333;

    display: flex;
    /* flexbox 기본용어
    -주측 main axis: 주측의 기본 방향 좌>우 zuunees baruun
    -교차즉 cross axis
    */

    /* 1. flex-direction
    - row (default): 좌>우 
    - row-reverse: 우>좌
    - column: 위>아래
    - column-reverse: 아래>위
    */

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* 2.flex-wrap: 줄바꿈 설정   
    - nowrap (default): mur soligdohgui size jijgereed neg murunduu l bna
    - wrap: size n erosoo oorchlogdohgui mur soligdono
    */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */

    /* 3. justify-content: 주측의 정렬 방법 
    flex-direction이 row일 때는 주측이 가로 > 수평 정렬
    flex-direction이 column일 때는 주측이 새로 > 수직 정렬
    - flex-start (default): item을 start 지점으로 나열
    - flex-end: 끝으로 나열
    - center: 중앙 정렬
    - spece-between: 처음과 마지막 아이템의 container의 양 끝쪽으로 이동, 나머지 영역을 공평하게 나눔
    - space-evenly: item의 모든 여백을 공평하게 나눔
    - space-around: 양끝 영역의 단위가 1이라면 나머지 영역의 단위는 2이다
    */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* 4. align-items: 교차측의 대한 정렬
    - stretch (default): container의 교차축방향으로 길이를 늘림
    - flex-start: 시작점으로 정렬
    - flex-end: 끝점으로 정렬
    - center: 중앙 정렬
    */

    align-items: stretch;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* 5. align-content: 여러 행을 정렬하는 방법
    (조건)flex-wrap이 wrap 상태일때 (2줄 이상일 때) 유효한 속성
    - stratch:
    - flex-start: 
    - flex-end: 
    - center: 
    - space-between: 
    - space-around: 
    - space-evenly:  */
    align-content: flex-start;
    /* align-content: center; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */
}

.container > .items{
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}

.container > .items.item1{
    background-color: red;
}
.container > .items.item2{
    background-color: orange;
}
.container > .items.item3{
    background-color: yellow;
}
.container > .items.item4{
    background-color: green;
}
.container > .items.item5{
    background-color: blue;
}