    .d-block{
        display: block;
        background-color: antiquewhite;
        border: 1px solid black;
        width: 50px;
        height: 50px;
        font-size: 13px;

        /* 여백 적용, padding은 내부여백, margin은 외부여백 */
        padding: 10px;
        margin: 10px;

    }

    .d-inline{
        display: inline;
        background-color: pink;
        border:1px solid blue;
        /* inline에는 가로 새로 적용 안됨 */
        width: 100px;
        height: 100px;

        /* 여백적용 */
        /* padding 위 아래 배경색만 적용 */
        padding: 10px;
        margin: 10px;

    }

    .d-inline-block{
        display: inline-block;
        background-color: aliceblue;
        border: 1px solid green;

        width: 50px;
        height: 50px;
        font-size: 13px;
        
        /* 여백적용 */
        padding: 10px;
        margin: 10px;
    }

    .parent{
        width: 500px;
        height: 250px;
        background-color: red;
    }

    /* hamgiin bagadaa 400px l bolno, ternees bainga tom bna */
    .parent > .min{
        min-width: 400px;
        height: 100px;
        background-color: orange;
    }

    /* hamgiin ihdee 400px hurtel tomrono, hemjee n 400px-s baga bna*/
    .parent > .max{ 
        max-width: 400px;
        height: 100px;
        background-color: violet;
    }

    /* 단위 확인 */
    .box{
        background-color: beige;
        border: 1px solid black;

    }
    .box-px{
        width: 50px;
        height: 50px;
    }
    .box-view{
        width: 50vw;
        height: 50vh;
    }
    .box-per{
        width: 50%;
        height: 50%;

    }