<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./include/head.ejs", {title: '회원가입'})%>
  </head>
  <body>
    <%- include("./include/header.ejs") %>
    <h1>register page입니다</h1>
  </body>
</html>
