<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/test.css" />
    <%- include("./include/head.ejs", {title: '홈'})%>
  </head>
  <body>
    <%- include("./include/header.ejs") %>

    <h1>테스트입니다</h1>
    <% for(let i=1; i<=5; i++){ %>
    <div>안녕하세요..</div>
    <!-- <div>숫자: <%#i%></div> -->
    <img src="/static/img/pooh<%=i%>.png" alt="pooh<%=i%>" width="50" />

    <% } %>
    <!-- <img src="/static/img/pooh2.png" alt="푸" /> -->
  </body>
</html>
